<%- include('../partials/header') %>

    <h2>Departures</h2>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs.toLocaleDateString() %></div>
</section>

    <h2>Arrivals</h2>
<section id="show-page">
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Arrivals Date: </div>
    <div><%= flight.arrival %></div> <!-- add after arrivals once figure out arrivals .toLocaleDateString() -->
  </section>


<!-- new markup below --> 
<!-- Embedded subdoc info for view --> 
<br>
<h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
<!-- Checks if flight has somthing in it vvv -->
<% if (flight.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% flight.reviews.forEach(function(r) { %>
        <tr>
        <td><%= r.createdAt.toLocaleDateString() %></td>
        <td><%= r.content %></td>
        <td><%= r.rating %></td>
        <td>
            <form action="/flights/<%= r.id %>?_method=DELETE"
                class="delete-form" method="POST">
                    <button type="submit">X</button>
            </form>
        </td>

        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
