<%- include('../partials/header') %>

    <h2 class="titles">Departures</h2>
<section id="show-page">
    <div class="infoBar">Airline: </div>
    <div class="infoDisplay"><%= flight.airline %></div>
    <div class="infoBar">Airport: </div>
    <div class="infoDisplay"><%= flight.airport %></div>
    <div class="infoBar">Flight Number: </div>
    <div class="infoDisplay"><%= flight.flightNo %></div>
    <div class="infoBar">Departs: </div>
    <div class="infoDisplay"><%= flight.departs.toLocaleDateString() %></div>
    <!-- new -->
    <div class="infoBar">Tickets:</div>  <!-- new -->
    <ul>
      <%- tickets.map(t => 
        `<li> Seat ${t.seat} $ ${t.price}</li>`
      ).join('') %>
    </ul>
    <!-- ^^^^^ -->
  </section>

  <!-- New -->
  <a href="/flights/<%= flight._id %>/tickets/new"><button>Add New Ticket</button></a>
  <!-- ^^^^ -->

    <h2 class="titles">Arrivals</h2>
<section id="show-page">
    <div class="infoBar">Airport: </div>
    <div class="infoDisplay"><%= flight.airport %></div>
    <div class="infoBar">Arrivals Date: </div>
    <div class="infoDisplay"><%= flight.arrival %></div> <!-- add after arrivals once figure out arrivals .toLocaleDateString() -->
  </section>


<!-- new markup below --> 
<!-- Embedded subdoc info for view --> 
<br>
<h2 class="titles">Reviews</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review" class="addReview">
</form>
<!-- Checks if flight has somthing in it vvv -->
<% if (flight.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th class="infoBar">Date</th>
        <th class="infoBar">Review</th>
        <th class="infoBar">Rating</th>
        <th class="infoBar">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% flight.reviews.forEach(function(r) { %>
        <tr>
        <td class="dates"><%= r.createdAt.toLocaleDateString() %></td>
        <td class="reviews"><%= r.content %></td>
        <td class="ratings"><%= r.rating %></td>
        <td>
            <form action="/reviews/<%= r._id %>?_method=DELETE"
                class="delete-form" method="POST">
                    <button class="deleBtn" type="submit">X</button>
            </form>
        </td>

        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
